.education {
    &__title {
        text-decoration: underline;
    }
    &__name {
        padding-top: 20px;
    }
    &__where {
        color: gray;
        margin: 0 auto;
    }
    &__when {
        margin: 0 auto;
    }
}
