.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__card {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        border-radius: 12px;
        background-color: rgba(240, 248, 255, 0.241);
    }
    &__image {
        width: 150px;
        margin: 20px;
        border-radius: 20px;
    }
    &__title {
        color: black;
        text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
    }
    a {
        color: #0b0089;
        text-decoration: none;
    }
}
