.more {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // flex-direction: row;
    width: 100%;
}
.languages {
    &__title {
        font-weight: bold;
    }
}
.habilities {
    text-align: center;
    &__title {
        font-weight: bold;
    }
    &__list {
        list-style-type: none;
    }
}
.volunteer {
    text-align: right;
    &__title {
        font-weight: bold;
    }
    &__list {
        h4 {
            padding-top: 10px;
        }
    }
}
