@import '~bootstrap/scss/bootstrap';

.app {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    &__hero {
        display: flex;
        flex-direction: row;
    }
    &__buttons {
        display: flex;
        width: 100%;
        margin: 20px auto;
        justify-content: center;
    }
    &__button {
        margin: 0 10px;
    }
    &__eduandexp {
        width: 100%;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
}
